# Environment configuration (e.g. Development|Staging|Production)
# Affects log output for the .NET API (v2) web application
ENVIRONMENT=

# The Docker image tag used in this environment for all containers
# Examples:
# - edge (Reflects the last commit on the main branch. Normally used in a development environment)
# - v2.3.102 (A stable tag which points to a specific version. Normally used in a testing environment)
# - latest (The latest stable release. Normally used in a production environment)
DOCKER_IMAGE_TAG=

# The fully qualified base domain name for all containers (e.g. dev.swissforages.ch)
BASE_DOMAIN=

# Database configuration
DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# The PostgreSQL DB connection string for the .NET API using the following schema:
# `Host=my_host[:port];Database=my_db;Username=my_user;Password=my_pw
DB_CONNECTIONSTRING=

# AWS S3 Bucket configuration
FILE_STORAGE=
S3_ENDPOINT=
S3_BUCKET=
S3_CREDENTIALS_IAM=
S3_REGION=

# SMTP configuration (feedback form)
# Use `host.docker.internal` if you want to connect to a service on the host
SMTP_SENDER=
SMTP_RECIPIENTS=
SMTP_SERVER=
SMTP_PORT=25 #optional
SMTP_TLS=0 #optional
SMTP_STARTTLS=0 #optional

# Cron expression in 6 fields (rather than the traditional 5) which
# defines when and how often to check for new releases.
# (eg. `0 30 3 * * *` 03.30 AM or `0 0 * * * *` once an hour, beginning of hour)
UPDATE_SCHEDULE=

# Specify the default timezone to use for all containers
TZ=Europe/Zurich
