apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
data:
  timezone: {{ .Values.app.timezone | default "Europe/Zurich" | quote }}
  databaseHost: {{ .Values.database.host }}
  databaseName: {{ .Values.database.name }}
  databasePort: {{ .Values.database.port | default "5432" | quote }}
  s3Endpoint: {{ .Values.s3.endpoint }}
  s3bucket: {{ .Values.s3.bucket }}
  s3Secure: {{ .Values.s3.secure | default "1" | quote }}
  authAuthority: {{ .Values.auth.authority | quote }}
  authAudience: {{ .Values.auth.audience | quote }}
  authScopes: {{ .Values.auth.scopes | default "openid profile" | quote }}
  authGroupClaimType: {{ .Values.auth.groupClaimType | default "cognito:groups" | quote }}
  authAuthorizedGroupName: {{ .Values.auth.authorizedGroupName | default "boreholes.swissgeol" | quote }}
  legacyApiAddress: "http://{{ .Release.Name }}-api-legacy.{{ .Release.Namespace }}.svc.cluster.local"
